/* app-home{
} */

/* .movieNav{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    left: 45vw;
    align-items: center;
} */

/* .teste {
    width: 16vw;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.teste2 {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.teste img {
    margin: .25vw;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.teste img:hover {
    width: 20vw;
    z-index: 1;
    cursor: pointer;
}

.teste img:hover > .teste2 {
    margin: 0;
} */

h1{
    color: rgb(156, 156, 211);
    font-size: 4.2vh;
    margin: 2.2vh;
}

.movieNav {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.teste2 {
    height: 60vh;
    width: 35vh;
    margin: 1vh;
    padding: 1vh;
    background-color: rgb(52, 52, 83);
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.teste2 img {
    height: 80%;
    border-radius: 0.7vh;
    margin: .25vh;
    margin-top: .5vw;
}

.teste2 h1 {
    width: 80%;
    text-align: center;
    margin: .25vh;
    font-size: 1.8vh;
    color: rgb(156, 156, 211);
}

.teste2 a button {
    background-color: #b8930c00;
    border: 2px solid #b8930c;
    border-radius: .5vh;
    color: #b8930c;
    font-weight: bold;
    font-size: 1.6vh;
    padding: .85vh;
    cursor: pointer;
    transition: 0.2s;
}

.teste2 a button:hover {
    border: 2px solid #f7d354;;
    background-color: #f7d354;
    color: rgb(22, 22, 48);
}