nav {
    background-color: rgb(29, 29, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4.2vh;
    padding-left: 4.2vh;
    position: fixed;
    width: 100vw;
    height: 15vh;
    z-index: 2;
    top: 0;
}

a {
    display: block;
    text-decoration: none;
    color: #f7d354;
    transition: 0.5s;
    font-size: clamp(30px, 6vh, 40px);
}

a:hover {
    color: #b8930c;
}

/* nav div {
    margin: .3vh;
} */

nav div input {
    border: 2px solid rgb(155, 155, 155);
    border-radius: .7vh;
    height: 8vh;
    max-height: 45px;
    width: 33vh;
    max-width: 250px;
    padding: .5vh;
    background-color: rgb(29, 29, 53);
    font-weight: bold;
    font-size: clamp(12px, 2.7vh, 20px);
    margin-right: .5vh;
}

nav div input::placeholder {
    color: rgb(155, 155, 155);
}

nav div input:focus {
    outline: none;
    background-color: rgb(204, 204, 204);
    color: rgb(29, 29, 53);
    border: 2px solid rgb(204, 204, 204);
}

nav div button {
    margin-left: .5vh;
    border-radius: .7vh;
    border: 2px solid #f7d354;
    color: #f7d354;
    background-color: rgb(29, 29, 53);
    
    height: 8vh;
    max-height: 45px;
    width: 13vh;
    max-width: 92px;
    font-weight: bold;
    font-size: clamp(12px, 2.7vh, 20px);
    cursor: pointer;
    transition: .2s;
}

nav div button:hover {
    background-color: #fac815;
    border: 2px solid #fac815;
    color: rgb(29, 29, 53);
}

@media (min-width: 1920) {

    nav div input, nav div button {
        max-width: auto;
        max-height: auto;
    }

}

@media (min-height: 920) {

    nav div input, nav div button {
        max-width: auto;
        max-height: auto;
    }

}

@media (max-aspect-ratio: 1/1), (orientation: portrait) {
    
    nav {
        flex-direction: column;
        justify-content: space-around;
    }

}